{% extends "templates/web.html" %}

{% block title %} Payment {% endblock %}

{%- block header -%}
{% endblock %}

{% block script %}
<script src="https://js.stripe.com/v3/"></script>
<script>{% include "templates/includes/stripe_checkout.js" %}</script>
{% endblock %}

{%- block page_content -%}

<div class="stripe" style="min-height: 400px; padding-bottom: 50px; margin-top:100px;margin-left:250px;">
	<div class="col-sm-10 col-sm-offset-2">
		{% if image %}
			<img src={{image}}>
		{% endif %}
		<h2 class="text-center">{{description}}</h2>
		<form id="payment-form">
			<div class="form-row row">
				<div class="group col-12">
					<div>
						<label>
							<span>{{ _("Name") }}</span>
						<input id="cardholder-name" name="cardholder-name" class="field" placeholder="{{ _('John Doe') }}" value="{{payer_name}}"/>
					</label>
					</div>
				</div>
				<div class="group col-12">
					<div>
						<label>
							<span>{{ _("Email") }}</span>
						<input id="cardholder-email" name="cardholder-email" class="field" placeholder="{{ _('john@doe.com') }}" value="{{payer_email}}" readonly/>
					</label>
					</div>
				</div>
				<div class="group col-12">
					<label>
					<span>{{ _("Card Details") }}</span>
				<div id="card-element" name="card-element" class="field"></div>
				<div id="card-errors" role="alert"></div>
			</label>
			</div>

			</div>

			<div >
				{% if frappe.session.user != "Guest" %}
				<label>
					<input type="checkbox" id="allow_save_token">
					{{ _("Marca si deseas guardar tu información de pago y usarla en el proceso de pago la próxima vez.") }}
				</label>

				{% else %}
				<label>
					<input type="checkbox" id="allow_save_token">
					{{ _("Marca si deseas guardar tu información de pago y usarla en el proceso de pago la próxima vez.") }}
				</label>

				<label>
				<p >{{ _("Si no cuentas con una contraseña de usuario para iniciar sesión haz click ") }} <span><b id="createUser" class="paygate-user-stripe">{{ _("aquí") }}</b></span> {{ _("para enviar la información a tu correo electrónico.") }}</p>
				</label>
				{% endif %}
			</div>

			<div style="padding-top: 30px;">
			<button type="submit" class="submit mt-4 mb-4" id="submit">{{_('Pay')}} {{amount}}</button>
			</div>
			<div class="outcome text-center mt-4">
				<div class="error" hidden>{{ _("An error occured during the payment process. Please contact us.") }}</div>
				<div class="success" hidden>{{ _("Your payment has been successfully registered.") }}</div>
			</div>
		</form>
	</div>
</div>


{% endblock %}
