{% extends "templates/web.html" %}

{% block title %} Payment {% endblock %}

{%- block header -%}
{% endblock %}

{%- block style -%}
<style>
    {% include "templates/includes/stripe_checkout.css" %}
</style>
{% endblock %}

{% block script %}
<script src="https://js.stripe.com/v3/"></script>
<script>{% include "templates/includes/stripe_checkout.js" %}</script>
{% endblock %}

{%- block page_content -%}

<div class="stripe-container-checkout">
<div class="stripe" >
	<div class="col-sm-10 col-sm-offset-4">
		{% if image %}
			<img src={{ image }}>
		{% endif %}

		<h4 class="text-center header-description">{{description}}</h4>

		<form id="payment-form">
			<div class="form-row row">
				<div class="group col-12">
					<div>
						<label>
							<span>{{ _("Name") }}</span>
						<input id="cardholder-name" name="cardholder-name" class="field" placeholder="{{ _('John Doe') }}" value="{{payer_name}}"/>
					</label>
					</div>
				</div>
				<div class="group col-12">
					<div>
						<label>
							<span>{{ _("Email") }}</span>
						<input id="cardholder-email" name="cardholder-email" class="field" placeholder="{{ _('john@doe.com') }}" value="{{payer_email}}" readonly/>
					</label>
					</div>
				</div>
				<div class="group col-12">
					<label>
					<span>{{ _("Card Details") }}</span>
				<div id="card-element" name="card-element" class="field"></div>
				<div id="card-errors" role="alert"></div>
			</label>
			</div>

			</div>

			{% if is_tokenization_enabled %}
			<div >
				{% if frappe.session.user != "Guest" %}
				<div class="col-12 texto-usr text-check-save-payment">
					<label >
						<input type="checkbox" id="allow_save_token">
						{{ _("Marca si deseas guardar tu información de pago y usarla en el proceso de pago la próxima vez.") }}
					</label>
				</div>

				{% else %}
				<div class="col-12 texto-usr text-check-save-payment">
					<label>
						<input type="checkbox" id="allow_save_token">
						{{ _("Marca si deseas guardar tu información de pago y usarla en el proceso de pago la próxima vez.") }}
					</label>
				</div>

				<div class="col-12 texto-usr text-reset-pwd">
					<label>
					<p>{{ _("Si no cuentas con una contraseña de usuario para iniciar sesión haz click ") }} <b>{{ _("aquí") }}</b> {{ _("para enviar la información a tu correo electrónico.") }}</p>
					</label>
				</div>
				{% endif %}
			</div>
			{% endif %}

			<div >
				<div>
				<button type="submit" class="submit mb-4 area-btns-checkout" id="submit">{{_('Pay')}} {{amount}}</button>
				</div>
				<div class="outcome text-center">
					<div class="error" hidden>{{ _("An error occured during the payment process. Please contact us.") }}</div>
					<div class="success" hidden>{{ _("Your payment has been successfully registered.") }}</div>
				</div>
			</div>
		</form>
	</div>
</div>
</div>



{% endblock %}
